body {
  color: #21567e;
  background-color: #E8F2FC;
}

.App {
  padding: 16px;
}

h1, h3 {
  text-align: center;
}

#selector > h5 {
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 14px;
  text-emphasis: bold;
}

#selection {
  background-color: #E8F2FC;
  border: none;
  border-bottom: 0.5px darkgray solid;
  min-width: 100px;
  color: grey;
  margin-left: 10px;
  cursor: pointer;
  height: 30px;
}

.recharts-responsive-container {
  margin: 0 auto;
}